### all ignore ###
/*
/.**

### not ignore ###
!/.gitconfig
!/.gitconfig_credential
!/.gitignore_global
!/.config/
!/.config/lazygit/
!/.config/lazygit/config.yml
!/.config/nvim/
!/.config/nvim/**
!/.config/sheldon/
!/.config/sheldon/**
!/.config/starship.toml
!/.config/zsh/
!/.config/zsh/.zshrc
!/.config/zsh/abbreviations
!/.config/zsh/defer/
!/.config/zsh/defer/**
!/.config/zsh/sync/
!/.config/zsh/sync/**
!/.git_commit_template
!/.gitignore
!/.zshenv
!/lib
!/LICNSE
!/README.md
!/Makefile
!/init.sh
!/update.sh
!/setup.sh
!/setup.ps1

### OSX ###
*.DS_Store
.AppleDouble
.LSOverride
*lock.json
